.toDoAppContainer{
  width: 100%;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-column-gap: 20px;
}

.listContainer{
  margin-top: 5px;
  display: grid;
  grid-row-gap: 4px;
}

/* this is an element not a container */
.noteList{
  justify-self: stretch;
}

.noteForm{
  /* background: lightgray; */
  padding: 15px;
  height: 250px;
}

.formContainer{
  display: grid;
}

.listElementContainer{
  display: grid;
  grid-template-columns: 5fr 1fr ;
}

.listElementButton{
  height: 40px;
}